.application-title {
    font-size: 40px;
    margin-top: 40px;
    margin-left: 15px;
    text-align: center;
    color: $dashboard-top-component-title-color;
}

.photo-header {
    margin-top: 20px;
    margin-bottom: 20px;
}

