.row-separation {
  margin-top: 20px;
  margin-left: 25px;
  margin-right: 25px;
}
.row-text {
  text-align: center;
  font-size: 25px;
}

.row-button {
  margin-top: 20px;
  margin-left: auto;
  text-align: center;
}

.row-inputText {
  margin-top: 20px;
  margin-left: auto;
  text-align: center;
}